<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ieat.app" android:versionCode="1" android:versionName="1.0.0">
<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
<application android:debuggable="true" android:label="iEat" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true">
<activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
</application></manifest>
